<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>libguestfs</h1>

<img id="fish" src="fish.svg"/>

<p>
<a href="http://libguestfs.org/">libguestfs.org</a>
<br/>
<br/>
</p>

<p>
PDF handout on the Linux Foundation site or
  <a href="http://rwmj.wordpress.com">rwmj.wordpress.com</a>
<br/>
<br/>
</p>

<p>
Available in your favourite Linux distribution.
<br/>
<br/>
</p>

<p>
<a href="http://git.annexia.org/">git.annexia.org</a> &rarr; libguestfs-talks
<small>(in Tech Talk format)</small>
</p>
