<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Crazy ideas</h1>

<p><q>Magic</q> compression</p>

<img src="magic-compression-1.svg"
     style="padding-left: 50px;"/>
