<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Crazy ideas</h1>

<p><q>Magic</q> compression</p>

<img src="magic-compression-2.svg"
     style="padding-left: 50px;"/>

<img src="cdrom.png"
     style="position: absolute;
     left: 120px; top: 430px;" />
<img src="cdrom.png"
     style="position: absolute;
     left: 190px; top: 445px;" />
<img src="file.png"
     style="position: absolute;
     left: 270px; top: 450px;" />

<img src="cdrom.png"
     style="position: absolute;
     left: 520px; top: 480px;" />
<img src="cdrom.png"
     style="position: absolute;
     left: 590px; top: 495px;" />
<img src="file.png"
     style="position: absolute;
     left: 670px; top: 500px;" />
