<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Crazy ideas</h1>

<p> Open SCAP + libguestfs: </p>

<ul>
<li> <q>Your guest needs these patches ...</q>
<li> <q>Your guest is vulnerable to these CVEs ...</q>
</ul>
