<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div id="titlepage">
  <p class="title">
    Making the Most of NBD
  </p>

  <p class="author">
    Eric Blake <small>(eblake @ redhat.com)</small> <br>
    Richard W.M. Jones <small>(rjones @ redhat.com)</small> <br/>
    <small>16:45 Thursday October 31st, 2019</small>
  </p>

  <p class="abstract">
    The <b>Network Block Device (NBD) protocol</b> dates back to Linux
    2.1.55 in April 1997, pre-dating iSCSI as a means for block device
    access of remote storage. <br/> In recent years, the protocol has
    seen a revival as virtualization scenarios have used and extended
    its features for a variety of tasks.
  </p>
</div>
