<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Linux 2.1.55 (1997)</h1>

<div class="allcenter">
  <img src="2000-nbd.png" width="80%">
</div>

<p class="attribution">
Hard drive photo by Evan-Amos
<a href="https://commons.wikimedia.org/wiki/File:35-Desktop-Hard-Drive.jpg">https://commons.wikimedia.org/wiki/File:35-Desktop-Hard-Drive.jpg</a>
</p>
