<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>qemu-nbd as a high-performance server for RHV ImageIO</h1>

<div class="allcenter">
  <img src="2500-imageio.png" width="80%" />
</div>
