<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Block status: does it change the status quo?</h1>

<p>
  Checking whether a block is already zero will eliminate the need to
  write zeroes to that block, but at what cost?

  <p>
  <span style="background-color: green; color: white;">block status reports hole</span>
  <span style="background-color: red; color: white;">block status reports data</span>
  <span style="background-color: blue; color: white;">write zeroes</span>

  <p>
  <table id="border" style="width:100%">
    <tr>
      <th></th>
      <th>O(1) server</th>
      <th>O(n) server</th>
    </tr>
    <tr>
      <td>no block status</td>
      <td><span style="background-color: blue; padding-right:20px;">&nbsp;</span></td>
      <td><span style="background-color: blue; padding-right:200px;">&nbsp;</span></td>
    </tr>
    <tr>
      <td>block status sees zero</td>
      <td><span style="background-color: green; padding-right:20px;">&nbsp;</span></td>
      <td><span style="background-color: green; padding-right:20px;">&nbsp;</span></td>
    </tr>
    <tr>
      <td>block status sees data</td>
      <td><span style="background-color: red; padding-right:20px;">&nbsp;</span>
        <span style="background-color: blue; padding-right:20px;">&nbsp;</span></td>
      <td><span style="background-color: red; padding-right:20px;">&nbsp;</span>
        <span style="background-color: blue; padding-right:200px;">&nbsp;</span></td>
    </tr>
    <tr>
      <td>block status is slow</td>
      <td><span style="background-color: red; padding-right:250px;">&nbsp;</span>
        <span style="background-color: blue; padding-right:20px;">&nbsp;</span></td>
      <td><span style="background-color: red; padding-right:250px;">&nbsp;</span>
        <span style="background-color: blue; padding-right:200px;">&nbsp;</span></td>
    </tr>
  </table>

  <p>
    If checking once per block is bad, can we instead check once per
    image?
  <p>Or why even check - what if we ensure the image starts
    with all zeroes?
</p>
