<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Can you provide me some references?</h1>

<p>
  qemu: wire <code>BDRV_REQ_NO_FALLBACK</code>
  to <code>NBD_CMD_FLAG_FAST_ZERO</code> in both server and client

<p>
  libnbd: add <code>ENOTSUP</code> errno,
  add <code>LIBNBD_CMD_FLAG_FAST_ZERO</code> to <code>nbd_zero()</code>
  and <code>nbd_aio_zero()</code>

<p>
  nbdkit: add support in the following filters and plugins:
  <span style="background-color: #b00; color: white;">always fails</span>
  <span style="background-color: #0b0; color: white;">always fast</span>
  <span style="background-color: #00b; color: white;">conditional</span>

<script>
plugins()
filters("1")

document.getElementById("plugin-data").classList.add("highlighted", "bg_g")
document.getElementById("plugin-full").classList.add("highlighted", "bg_r")
document.getElementById("plugin-info").classList.add("highlighted", "bg_b")
document.getElementById("plugin-memory").classList.add("highlighted", "bg_g")
document.getElementById("plugin-nbd").classList.add("highlighted", "bg_b")
document.getElementById("plugin-null").classList.add("highlighted", "bg_g")
document.getElementById("plugin-ocaml").classList.add("highlighted", "bg_b")
document.getElementById("plugin-sh").classList.add("highlighted", "bg_b")
document.getElementById("plugin-rust").classList.add("highlighted", "bg_b")

document.getElementById("filter1-blocksize").classList.add("highlighted", "bg_b")
document.getElementById("filter1-cache").classList.add("highlighted", "bg_r")
document.getElementById("filter1-cow").classList.add("highlighted", "bg_r")
document.getElementById("filter1-delay").classList.add("highlighted", "bg_b")
document.getElementById("filter1-log").classList.add("highlighted", "bg_b")
document.getElementById("filter1-nozero").classList.add("highlighted", "bg_b")
document.getElementById("filter1-retry").classList.add("highlighted", "bg_b")
document.getElementById("filter1-truncate").classList.add("highlighted", "bg_g")
</script>
</p>
