<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>VDDK</h1>

<div class="allcenter">
  <img src="6100-vmware.png" width="80%" />
</div>


<p class="attribution">
Server icon by RRZEicons
<a href="https://commons.wikimedia.org/wiki/File:Server-multiple.svg">https://commons.wikimedia.org/wiki/File:Server-multiple.svg</a>
</p>
