<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Tradeoff: Simple or structured</h1>

<p>
  Simple: 16-byte response, boolean answer
  <p>
  <img src="8200-simple.png"/>

<p>
  Structured: one or more 20+-byte response (simplest is a single
  28-byte response)
  <br>Requires adding <code>NBD_REPLY_TYPE_RESIZE</code>
  <p>
  <img src="8200-structured.png"/>
</p>
