<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Tradeoff: poll or notify</h1>

<p>
  Polling:
  <ul>
    <li>Server cannot report size unless client asks
    <li>Each server reply sets <code>NBD_REPLY_DONE</code> flag bit
    <li>Client must ask in a loop when polling for a change from the
      server
  </ul>
<p>
  <img src="8300-poll.png"/>

<p>
  Notify:
  <ul>
    <li>Client uses <code>NBD_CMD_FLAG_RESIZE_NOTIFY</code> to
      request an open-ended command
    <li>Server replies with <code>NBD_REPLY_DONE</code> flag clear
      whenever it has a new size to report
  </ul>
<p>
  <img src="8300-notify.png"/>
</p>
