<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Tradeoff: how much complexity</h1>

<p>
  Tradeoffs in implementation complexity
  <table id="border">
    <tr>
      <th style="width:8%;"></th>
      <th>Lots of knobs in the NBD spec</th>
      <th>Mandate all-or-none server implementation</th>
    </tr>
    <tr>
      <td style="text-align:center;">Pro</td>
      <td>
	<ul>
	  <li>Implement as much or as little as convenient for the
	    server
	  <li>Matches reality that no one resize solution fits all
	</ul>
      </td>
      <td>
	<ul>
	  <li>Easier interoperability testing
	  <li>Client can rely on all servers giving same response
	</ul>
      </td>
    </tr>
    <tr>
      <td style="text-align:center;">Con</td>
      <td>
      	<ul>
	  <li>More combinations requires more testing
	  <li>Odd or untested combinations could produce weird
	    behaviors or even CVEs
	  <li>Clients must be prepared for more fallbacks
	  <li>NBD protocol tries to be as simple as possible
	</ul>
      </td>
      <td>
	<ul>
	  <li>Not all tradeoffs map easily to existing implementation
	  <li>Open-ended structured replies requires more efforts for
	    writing a compliant server
	</ul>
      </td>
    </tr>
  </table>
</p>
