<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>How does virt-v2v work?  #2</h1>

<pre>
            ┌───────────────┐
            │ overlay.qcow2 │
backing     │               │
image ──◀───│               │
            │               │
            │               │
            └───────────────┘
                 fstrim
</pre>
