<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>How does virt-v2v work?  #3</h1>

<pre>
            ┌───────────────┐
            │ overlay.qcow2 │
backing     │               │    copy
image ──◀───│               │──────────▶
            │               │
            │               │
            └───────────────┘
</pre>

<p>
qemu-img convert overlay.qcow2 target
</p>
