<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>New qemu technology</h1>

<table width="95%" cellspacing=10>

<tr>
  <th align="right" valign="top"> block/curl </th>
  <td valign="top">
    working! <br/>
    timeouts <br/>
    cookies
  </td>
</tr>

<tr>
  <th align="right"> block/ssh </th>
  <td> needs a bit of work </td>
</tr>

<tr>
  <th align="right"> copy on read </th>
  <td>  </td>
</tr>

<tr>
  <th align="right"> discard &amp; fstrim </th>
  <td>  </td>
</tr>

<tr>
  <th align="right"> qcow2 v3 </th>
  <td> especially zero clusters </td>
</tr>

<tr>
  <th align="right"> fstrim on NTFS </th>
  <td> only works for aligned filesystems </td>
</tr>

<tr>
  <th align="right"> miniexpect </th>
  <td> not qemu .. but worth mentioning </td>
</tr>

</table>
