<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<style type="text/css">
pre.example {
  width: 24em;
  margin-left: auto;
  margin-right: auto;
}

span.func { color: #044; font-weight: bold; }
span.str  { color: #644; font-style: italic; }
span.type { color: #a33; font-weight: bold; }
span.comment { color: green; font-weight: bold; }
</style>

<h1>Libguestfs is ...</h1>

<pre class="example">
#include <b>&lt;guestfs.h&gt;</b>
                    <span class="comment">/* link with -lguestfs */</span>
<span class="func">main ()</span> {
  <span class="type">guestfs_h *</span>g = <span class="func">guestfs_create</span> ();
  <span class="func">guestfs_add_drive_ro</span> (g,
          <span class="str">"fedora-19.img"</span>);
  <span class="func">guestfs_launch</span> (g);
  <span class="func">guestfs_mount</span> (g,
          <span class="str">"/dev/fedora/root"</span>);
  <span class="func">guestfs_download</span> (g,
          <span class="str">"/etc/fedora-release"</span>,
          <span class="str">"/dev/stdout"</span>);
  <span class="func">guestfs_close</span> (g);
}
</pre>
