<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<style type="text/css">
span.grey { color: #ccc; }
pre.example { font-size: 90%; }
</style>

<pre class="example">
$ <b>virt-</b>
virt-alignment-scan <span class="grey">virt-image</span>            virt-sparsify
<b>virt-builder</b>        virt-inspector        virt-sysprep
virt-cat            <span class="grey">virt-install</span>          virt-tar
<span class="grey">virt-clone</span>          virt-list-filesystems virt-tar-in
<span class="grey">virt-convert</span>        virt-list-partitions  virt-tar-out
virt-copy-in        <span class="grey">virt-login-shell      virt-top</span>
virt-copy-out       virt-ls               <span class="grey">virt-viewer</span>
virt-df             virt-make-fs          <span class="grey">virt-what</span>
virt-edit           <span class="grey">virt-pki-validate</span>     virt-win-reg
virt-filesystems    virt-rescue           <span class="grey">virt-xml-validate</span>
virt-format         virt-resize            
<span class="grey">virt-host-validate  virt-sanlock-cleanup</span>
</pre>
