<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<style type="text/css">
img.center {
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -225px;
}
</style>

<h1>Don't do this ...</h1>

<img class="center" src="fs-unsafe.svg" />
