<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<style type="text/css">
img.center {
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
}
</style>

<h1>Do do this (with libvirt)</h1>

<img class="center" src="fs-safe.svg" />
