<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>We use ...</h1>

<table width="95%">
<tr><td valign="top" width="45%">
<ul>
<li> <code>virConnect*</code>
<li> "lifecycle APIs" <br/> like <code>virDomainCreateXML</code>
<li> libvirt XML
<li> hotplugging APIs
<li> capabilities
</ul>
</td><td valign="top" width="45%">
<b>.. but we don't care about:</b>
<ul>
<li> live migration
<li> stable guest ABI
<li> storage APIs
<li> snapshots
<li> NUMA
</ul>
</td></tr></table>
