<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Libvirt bugs</h1>

Tracker bug: 910269

<ul>
<li> XML error: No PCI buses available (990258) <b>FIXED</b>
<li> <q>This QEMU doesn't support virtio scsi controller</q> (998692)
     <br/> <b>qemu bug: FIXED</b>
     <i>(example of non-obvious error message)</i>
</ul>
<ul>
<li> qemu: could not load kernel ... Permission denied (921135)
<li> could not destroy libvirt domain: domain is not running (1020216)
</ul>
<ul>
<li> libvirt chowns &lt;kernel&gt; file to root, but doesn't restore ownership
  (916644)
<li> libvirt doesn't label backing sockets, eg. qcow2 using NBD backing
  (1011063)
</ul>
