<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>On a positive note ...</h1>

What we like about libvirt:

<ul>
<li> sVirt
<li> having someone else deal with qemu
<li> hotplugging
</ul>
