<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>kpartx</h1>

<pre style="font-size: 24pt;">
# <b>kpartx -a /dev/vg_trick/F13Rawhidex64</b>
# <b>ls -1 /dev/mapper/vg_trick-F13Rawhidex64*</b>
/dev/mapper/vg_trick-F13Rawhidex64
<b>/dev/mapper/vg_trick-F13Rawhidex64p1
/dev/mapper/vg_trick-F13Rawhidex64p2</b>
# <b>vgscan</b>
  Reading all physical volumes.  This may
    take a while...
  <b>Found volume group "vg_f13rawhide" [..]</b>
  Found volume group "vg_trick" [..]
# <b>lvs</b>
  LV                VG            Attr   LSize [..]
  <b>lv_root           vg_f13rawhide -wi---   8.83g
  lv_swap           vg_f13rawhide -wi--- 992.00m</b>
</pre>
