<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div class="vcentercontainer">
  <div class="vcenter">
    <p class="center">
      Any questions?
    </p>

    <author class="center">
      Richard W.M. Jones &mdash; <a class="nounderline" href="http://people.redhat.com/~rjones/">people.redhat.com/~rjones</a> <br/>
      sponsored by Red Hat Inc.
    </author>

    <p class="center">
      <a class="nounderline" href="http://libguestfs.org/"><big>libguestfs.org</big></a>
    </p>

    <p class="center">
      <small>
	This was the first ever presentation using <br/>
	<b>Tech Talk PSE</b> (Google it!) <br/>
	Figures done using TeX, PGF &amp; TikZ
      </small>
    </p>
  </div>
</div>
