<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Creating an overlay disk</h1>

<img src="2000-overlay-disk.svg" height="800"/>
