<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Some things you can do with OpenStack ...</h1>

<ul>
<li> public or private cloud
<li> self-service
<li> import from VMware (RHEL 7)
<li> import from physical machines (RHEL 7)
<li> heavily backed by Red Hat (~20 developers, top contributor)
</ul>
