<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div id="titlepage">
  <p class="title">
    libguestfs, virt-builder, <br/>
    virt-sparsify and virt-sysprep <br/>
  </p>
  <p><author>
      Richard W.M. Jones <br/>
      <small>rjones @ redhat.com</small>
  </author></p>
  <p>
    <i>libguestfs is a C library for modifying <br/>
    virtual machine disk images, <br/>
    plus a large set of tools</i>
  </p>
</div>
