<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<pre>
$ <b>virt-builder -l</b>
centos-6            CentOS 6.5
cirros-0.3.1        CirrOS 0.3.1
debian-6            Debian 6 (Squeeze)
debian-7            Debian 7 (Wheezy)
fedora-18           Fedora® 18
fedora-19           Fedora® 19
fedora-20           Fedora® 20
scientificlinux-6   Scientific Linux 6.4
ubuntu-10.04        Ubuntu 10.04 (Lucid)
ubuntu-12.04        Ubuntu 12.04 (Precise)
ubuntu-13.10        Ubuntu 13.10 (Saucy)
</pre>
