<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Tools</h1>

<div id="tools" style="position: absolute; top: 0em; left: 3em;">
<p class="bubble" style="position: absolute; top: 2em; left: 1em;">guestfish</p>
<p class="bubble" style="position: absolute; top: 3.8em; left: 2em;">virt-cat</p>
<p class="bubble" style="position: absolute; top: 5em; left: 12em;">virt-df</p>
<p class="bubble" style="position: absolute; top: 9.5em; left: 14em;">virt-edit</p>
<p class="bubble" style="position: absolute; top: 2.5em; left: 9em; width: 9em;">virt-inspector</p>
<p class="bubble" style="position: absolute; top: 3.5em; left: 19em; width: 7em;">virt-rescue</p>
<p class="bubble" style="position: absolute; top: 5.5em; left: 18.5em; width: 7em">virt-resize</p>
<p class="bubble" style="position: absolute; top: 5.5em; left: 3em; width: 8em;">virt-win-reg</p>
<p class="bubble" style="position: absolute; top: 7.5em; left: 1em; width: 7em;">guestmount</p>
<p class="bubble" style="position: absolute; top: 9.5em; left: 3em; width: 8em;">virt-filesystems</p>
<p class="bubble" style="position: absolute; top: 7.5em; left: 10em;">virt-copy-*</p>

<p class="bubble" style="position: absolute; top: 11.5em; left: 1em;">virt-v2v</p>
<p class="bubble" style="position: absolute; top: 11.5em; left: 15em;">virt-p2v</p>

<img src="aeolus-and-boxgrinder.png"
     style="position: absolute; top: 14.5em; left: 1em;">
</div>
