/* Red Hat red is rgb(204,0,0). */

body {
    background: url(redhat.jpg) no-repeat;
    background-position: 98% 0;
    font-size: 24pt;
    font-family: liberation, helvetica;
}

body td { /* why?? */
    font-size: 28pt;
}

h1 {
    color: rgb(204,0,0);
    font-size: 48px;
    top: 8;
    left: 0;
    border-bottom: 2px solid rgb(204,0,0);
}

b {
    color: rgb(204,0,0);
}

div#titlepage {
    margin-top: 100px;
    text-align: center;
}

div#titlepage p.title {
    color: rgb(204,0,0);
    font-weight: bold;
    font-size: 48px;
}

div#titlepage author {
    font-size: 36px;
}

/* In-page controls. */
p#pagecontrols {
    font-size: small;
    position: absolute;
    right: 340px;
    top: 1em;
}

p#pagecontrols a {
    background: #fee;
    text-decoration: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

p#pagecontrols a:hover {
    background: #f33;
}

/* Bubble around names of virt-tools. */
p.bubble {
    font-weight: bold;
    color: white;
    width: 6em;
    text-align: center;
    background-color: rgb(204,0,0);
    -moz-border-radius: 0.2em;
}
