<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div id="titlepage">
  <p class="title">
    Introduction to virt-v2v, IMS,
    nbdkit, libnbd, IMS, KVM&nbsp;to&nbsp;KVM&nbsp;migrations
  </p>

  <p class="author">
    Richard W.M. Jones <br>
    rjones @ redhat.com
  </p>

  <p class="abstract">
    
  </p>
</div>

