<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>IMS demo</h1>

<video width="80%" controls>
  <source src="Red Hat IMS solution 1.0-SbAX-GsgHEM.mkv"/>
</video>
