<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>NBD is easy to implement</h1>

<pre>
$ time nbdkit memory 100M \
    --run 'examples/threaded-reads-and-writes localhost 10809'
</pre>

<p>
In <b>three weeks</b>:
</p>

<ol>
<li>
50% faster?
<li>
twice as fast?
<li>
&ge; 10 times faster?
</ol>
