<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>NBD is easy to implement</h1>

<p>
It's <b>hard to get good performance</b>
</p>

<pre>
$ time nbdkit memory 100M \
    --run 'examples/threaded-reads-and-writes localhost 10809'
</pre>

<table width="80%">
<tr>
<td>
May 21st 2019
</td>
<td> <b>592</b> seconds </td>
</tr>

<tr>
<td>
Jun 13th 2019
</td>
<td> <b>37</b> seconds </td>
</tr>

<tr>
<td> Ratio </td>
<td> <b>16</b> times faster </td>
</tr>
</table>
