<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>libnbd is ...</h1>

<ul>
<li>
C library
<li>
bindings in several languages
<li>
Python shell (<code>nbdsh</code>)
</ul>
