<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>libnbd is easy to use</h1>

<pre>
struct nbd_handle *nbd;

nbd = <b>nbd_create</b> ();

<b>nbd_connect_unix</b> (nbd, "/tmp/socket");

<b>nbd_pread</b> (nbd, buf, sizeof buf, 0, 0);

<b>nbd_close</b> (nbd);
</pre>

<p>
... also a low level,
high performance,
asynchronous (AIO) API
</p>
