<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>KVM to KVM migrations: metadata</h1>

<pre>
---
apiVersion: v1
kind: Template
metadata:
  annotations:
    description: OCP KubeVirt Red Hat Enterprise Linux 7.4 VM template
    iconClass: icon-rhel
    tags: kubevirt,ocp,template,linux,virtualmachine
  labels:
    kubevirt.io/os: rhel-7.4
    miq.github.io/kubevirt-is-vm-template: "true"
  name: vm-template-rhel7
objects:
- apiVersion: kubevirt.io/v1alpha3
  kind: VirtualMachine
  metadata:
    creationTimestamp: null
    labels:
      kubevirt-vm: vm-${NAME}
      kubevirt.io/os: rhel-7.4
    name: ${NAME}
  spec:
    running: false
    template:
      metadata:
        creationTimestamp: null
        labels:
          kubevirt-vm: vm-${NAME}
          kubevirt.io/os: rhel-7.4
      spec:
        domain:
          cpu:
            cores: ${{CPU_CORES}}
          devices:
            disks:
            - disk:
                bus: virtio
              name: disk0
          machine:
            type: ""
          resources:
            requests:
              memory: ${MEMORY}
        terminationGracePeriodSeconds: 0
        volumes:
        - name: disk0
          persistentVolumeClaim:
            claimName: linux-vm-pvc-${NAME}
  status: {}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    creationTimestamp: null
    name: linux-vm-pvc-${NAME}
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
  status: {}
parameters:
- description: Name for the new VM
  name: NAME
- description: Amount of memory
  name: MEMORY
  value: 4096Mi
- description: Amount of cores
  name: CPU_CORES
  value: "4"

</pre>
