<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Not virt-v2v, but reuse the tools</h1>

<ul>
<li> <b>nbdkit</b>
<li> <b>qemu-img convert</b>
<li> virt-v2v <b>metadata model</b>
<li> libnbd, bindings or nbdsh, maybe
</ul>
