<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div id="titlepage">
  <p class="title">
    Better loop mounts with NBD <br/>
    <small>Take your loop mounts to the next level with nbdkit</small>
  </p>

  <p class="author">
      Richard W.M. Jones <small>(rjones @ redhat.com)</small> <br/>
      <small>11am, Saturday 2nd February 2019</small>
  </p>

  <p class="abstract">
    <b>Loop devices</b> let you turn a raw file into a device.
    <b>Loop mounts</b> let you mount filesystems from a raw file.
    <b>Network Block Device</b> with the <b>nbdkit</b> server takes
    this concept to the next level, elegantly solving simple problems
    like how to mount filesystems from a compressed file, but as we
    shall see in this talk offering far, far more ...
  </p>
</div>
