<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>nbdkit &mdash; layers</h1>

<script>
filters("1")

document.getElementById("filter1-cow").classList.add("highlighted")

filters("2")

document.getElementById("filter2-partition").classList.add("highlighted")

filters("3")

document.getElementById("filter3-xz").classList.add("highlighted")

plugins()

document.getElementById("plugin-file").classList.add("highlighted")
</script>
