<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Testing the badblocks command</h1>

<div class="allcenter">
  <img src="5050-badblocks-diagram.svg" width="800"/>
</div>
