<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>nbdkit &mdash; plugins</h1>

<script>
plugins()

document.getElementById("plugin-floppy").classList.add("highlighted")
document.getElementById("plugin-memory").classList.add("highlighted")
</script>
