<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Useful nbdkit plugins and filters for testing filesystems</h1>

<script>
filters("1")

document.getElementById("filter1-delay").classList.add("highlighted")
document.getElementById("filter1-error").classList.add("highlighted")
document.getElementById("filter1-log").classList.add("highlighted")
</script>

<p></p>

<script>
plugins()

document.getElementById("plugin-data").classList.add("highlighted")
document.getElementById("plugin-file").classList.add("highlighted")
document.getElementById("plugin-floppy").classList.add("highlighted")
document.getElementById("plugin-iso").classList.add("highlighted")
document.getElementById("plugin-memory").classList.add("highlighted")
document.getElementById("plugin-sh").classList.add("highlighted")
</script>
