<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Useful nbdkit filters: the log filter</h1>

<pre>
nbdkit --filter=log <i>[...]</i> logfile=/tmp/log
</pre>

<pre>
2018-11-16 10:55:19.411474 connection=2 Connect size=0x6400000 write=1 flush=0 rotational=0 trim=1 zero=1 fua=0
2018-11-16 10:55:19.478631 connection=2 Read id=1 offset=0x0 count=0x200 ...
2018-11-16 10:55:19.478664 connection=2 ...Read id=1 return=0 (Success)
2018-11-16 10:55:20.844193 connection=2 Read id=2 offset=0x0 count=0x1000 ...
2018-11-16 10:55:20.844234 connection=2 ...Read id=2 return=0 (Success)
2018-11-16 10:55:20.844767 connection=2 Read id=3 offset=0x1000 count=0x1000 ...
2018-11-16 10:55:20.844823 connection=2 ...Read id=3 return=0 (Success)
2018-11-16 10:55:21.446872 connection=2 Read id=4 offset=0x63f0000 count=0x1000 ...
2018-11-16 10:55:21.446930 connection=2 ...Read id=4 return=0 (Success)
2018-11-16 10:55:21.447175 connection=2 Read id=5 offset=0x63fe000 count=0x1000 ...
2018-11-16 10:55:21.447197 connection=2 ...Read id=5 return=0 (Success)
</pre>

<script>
filters("1")

document.getElementById("filter1-log").classList.add("highlighted")
</script>
