<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Useful nbdkit filters: the log filter</h1>

<pre>
nbdkit --filter=log <i>[...]</i> logfile=/tmp/log
</pre>

<div class="allcenter">
  <!--<img src="7400-log-filter-2.svg" width="900" />-->
  <!-- Webkit can't render arrows in SVG, so ... -->
  <img src="7400-log-filter-2.svg.png" />
</div>
