<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Library, API, tools</h1>

<img style="position: absolute; top: 4em; left: 12.5em;" src="disk.png"/>
<img style="position: absolute; top: 4em; left: 16.5em;" src="flash.png"/>
<img style="position: absolute; top: 4em; left: 20.5em;" src="file.png"/>

<img style="position: absolute; top: 4.75em; left: 12em;" src="arrows1.svg"/>

<p class="bubble" style="position: absolute; top: 7.5em; left: 13em; width: 10em;">libguestfs.so</p>

<img style="position: absolute; top: 9em; left: 12em;" src="arrows2.svg"/>

<p class="bubble" style="position: absolute; top: 12em; left: 2.5em;">C</p>

<p class="bubble" style="position: absolute; top: 12em; left: 10em;">Python</p>

<p class="bubble" style="position: absolute; top: 12em; left: 18em;">Ruby</p>

<p class="bubble" style="position: absolute; top: 12em; left: 25em;">shell</p>

<p class="bubbleinverse" style="position: absolute; top: 12em; left: 32em;">· · ·</p>

<p class="bubble" style="position: absolute; top: 17em; left: 3em;">virt-resize</p>

<p class="bubble" style="position: absolute; top: 17em; left: 10.5em;">virt-df</p>

<p class="bubble" style="position: absolute; top: 17em; left: 18em;">guestfish</p>

<p class="bubbleinverse" style="position: absolute; top: 17em; left: 25em;">· · ·</p>
