<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>libguestfs.org</h1>

<p>
  <small>Languages:</small>
  C/C++, Perl, Python, Ruby, OCaml, Java, PHP, Erlang, shell script
</p>

<table class="tools">
<tr>
<td><p class="bubble">guestfish</p></td>
<td><p class="bubble" style="width: 8em;">virt-copy-out</p></td>
<td><p class="bubble" style="width: 9em;">virt-inspector</p></td>
<td><p class="bubble" style="width: 8em;">virt-sparsify</p></td>
</tr>
<tr>
<td><p class="bubble" style="width: 8em;">guestmount</p></td>
<td><p class="bubble">virt-df</p></td>
<td><p class="bubble">virt-ls</p></td>
<td><p class="bubble" style="width: 8em;">virt-tar-in</p></td>
</tr>
<tr>
<td><p class="bubble" style="width: 10em;">virt-alignment-scan</p></td>
<td><p class="bubble">virt-edit</p></td>
<td><p class="bubble">virt-make-fs</p></td>
<td><p class="bubble" style="width: 8em;">virt-tar-out</p></td>
</tr>
<tr>
<td><p class="bubble">virt-cat</p></td>
<td><p class="bubble" style="width: 9em;">virt-filesystems</p></td>
<td><p class="bubble">virt-rescue</p></td>
<td><p class="bubble" style="width: 8em;">virt-win-reg</p></td>
</tr>
<tr>
<td><p class="bubble" style="width: 8em;">virt-copy-in</p></td>
<td><p class="bubble">virt-format</p></td>
<td><p class="bubble">virt-resize</p></td>
</tr>
</table>

<p>
  Aeolus, OpenStack Essex, Boxgrinder, Oz, virt-manager, virt-v2v, virt-p2v
</p>
