<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div id="titlepage">
  <p class="title">
    New qemu technology<br/>used in virt-v2v
  </p>
  <p><author>
      Richard W.M. Jones <br/>
      <small>rjones @ redhat.com</small>
  </author></p>
  <p>
    <b>virt-v2v</b> <i>converts guests <br/>
      from VMware, Xen, and Hyper-V, <br/>
      OVAs and physical machines, <br/>
      so they run efficiently on KVM</i>
  </p>
  <p>
    <b>virt-v2v</b> <i>exports to OpenStack, RHEV, <br/>
      libvirt, plain KVM, and local disk</i>
  </p>
  <p>
    <i>guests supported are: RHEL 3+, <br/>
      Windows XP &mdash; 7, Fedora, OpenSUSE</i>
  </p>
</div>
