<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>What's the difficult bit?</h1>

<object height="80%" width="99%"
        data="2000-what-v2v-does.d/drawing.svg"
        type="image/svg+xml">
  <img src="2000-what-v2v-does.d/drawing.svg">
</object>
