<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>2009 &rarr; 2014</h1>

<object height="80%" width="99%"
        data="4000-old-vs-new.d/old-vs-new.svg"
        type="image/svg+xml">
  <img src="4000-old-vs-new/old-vs-new.svg">
</object>
