<meta charset="utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div>
<h1>Using libguestfs from Python<sup>*</sup></h1>

<p id="steps">
<b>Create handle</b> &mdash;
Inspect &mdash;
Modify &mdash;
Shutdown</p>

<pre class="code">
<b>import guestfs</b>

input = "disk.img"

<b>g = guestfs.GuestFS</b> ()

<b>g.add_drive_opts</b> (input,
                  format = "raw",
                  readonly = 0)

<b>g.launch</b> ()
</pre>

<p>
<sup>*</sup>
<small>
For more examples:
<a href="http://libguestfs.org/guestfs-python.3.html">http://libguestfs.org/guestfs-python.3.html</a> <br/>
or <code>man guestfs-python</code>
</small>
</p>

</div>
