<meta charset="utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div>
<h1>Resizing</h1>

<p class="bubble">virt-resize</p>
<pre>
virt-resize input.img output.img --expand sda2
</pre>

</div>
