<meta charset="utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div>
<h1>sVirt</h1>

<pre>
        ┌─────────────────────┐
        │ ☠ evil disk image ☠ │
        └─────────────────────┘
      │    appliance kernel     │
      └─────────────────────────┘
    │             qemu            │
    └─────────────────────────────┘
  <span class="svirt">│          sVirt & SELinux        │
  └─────────────────────────────────┘</span>
│              host kernel            │
└─────────────────────────────────────┘
</pre>
</div>
