/* Red Hat red is rgb(204,0,0). */

body {
    background: url(redhat.jpg) no-repeat;
    background-position: 98% 0;
    font-size: 24pt; /* For max */
    /* font-size: 20pt; */ /* For 1024x768 */
    font-family: liberation, helvetica;
}

body td { /* why?? */
    /*font-size: 28pt;*/
    font-size: 20pt;
}

h1 {
    color: rgb(204,0,0);
    /*font-size: 48px;*/
    font-size: 40px;
    top: 8;
    left: 0;
    border-bottom: 2px solid rgb(204,0,0);
}

b {
    color: rgb(204,0,0);
}

div#titlepage {
    margin-top: 100px;
    text-align: center;
}

div#titlepage p.title {
    color: rgb(204,0,0);
    font-weight: bold;
    font-size: 48px;
}

div#titlepage author {
    font-size: 36px;
}

/* Bubble around names of virt-tools. */
p.bubble {
    font-weight: bold;
    color: white;
    width: 6em;
    text-align: center;
    background-color: rgb(204,0,0);
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

p.bubbleinverse {
    font-weight: bold;
    color: rgb(204,0,0);
    text-align: center;
    background-color: white;
}

table.tools td {
    font-size: 18pt;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

/* Code */
pre.code {
    margin-left: 1em;
    background: #eee;
}

/* Steps */
p#steps {
    margin-bottom: -16px;
    text-align: right;
    font-size: 16pt;
}

p#steps b {
    background-color: rgb(204,0,0);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 0.2em;
}

/* sVirt slide */
span.svirt {
    color: rgb(204,0,0);
}

/* Bullet points */
li {
    padding-bottom: 16px;
}

/* Logo */
img#fish {
    position: absolute;
    top: 128px;
    right: 64px;
    width: 200px;
    /*height: 256px;*/
}