<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<div id="titlepage">
  <p class="title">
    virt-resize, virt-sparsify, virt-customize, virt-sysprep, virt-builder
  </p>
  <p><author>
      Richard W.M. Jones <br/>
      <small>rjones @ redhat.com</small>
  </author></p>
  <p>
    <b>libguestfs</b> is a library and set of tools for manipulating
    virtual machine disk images.
  </p>
  <p>
    This talk is about the <b>virt-tools</b> which build on this
    library to provide many useful abstractions.
  </p>
</div>
