<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>Thin provisioning</h1>

<object height="80%" width="99%"
        data="2000-thin-provisioning.svg"
        type="image/svg+xml">
  <img src="2000-thin-provisioning.svg">
</object>
