<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>virt-customize</h1>

<ul>
<li> Install, upgrade packages.
<li> Inject files, directories, SSH keys.
<li> Set root, user passwords.
<li> Edit files.
<li> Run scripts.
<li> Add firstboot (RunOnce) scripts.
<li> Set hostname, timezone.
<li> File operations (delete, link, chmod, mkdir, etc.)
<li> Attach to RHN.
</ul>
