<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>virt-builder: Preparing templates</h1>

<p style="text-align: center">
virt-install <br/>
↓ <br/>
virt-sysprep <br/>
↓ <br/>
virt-sparsify <br/>
↓ <br/>
xz compress <br/>
↓ <br/>
Online template repository <br/>
<small>(<a href="http://libguestfs.org/download/builder/">http://libguestfs.org/download/builder</a>)</small>
</p>
