<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>virt-builder: Distro metadata</h1>

<table>
<tr>
<td width="30%" valign="top">

<div style="
  border: 1px solid black;
  font-size: 40%;
">
<p style="text-align: center">
virt-install <br/>
↓ <br/>
virt-sysprep <br/>
↓ <br/>
virt-sparsify <br/>
↓ <br/>
xz compress <br/>
↓ <br/>
Online template repository <br/>
<small>(<a href="http://libguestfs.org/download/builder/">http://libguestfs.org/download/builder</a>)</small>
</p>
</div>

</td>
<td width="55%" valign="top">

<pre style="
  width: 40%;
  font-size: 80%;
  margin-left: 3em;
">
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

[centos-6.6]
name=CentOS 6.6
arch=x86_64
file=CentOS-6.6-x86_64-Cloud.raw.xz
checksum[sha512]=fc403ea3555a560...
format=raw
size=6442450944
compressed_size=199265736
expand=/dev/sda3

-----BEGIN PGP SIGNATURE-----
</pre>

</td>
</tr>
</table>

<p style="text-align: center;">
virt-builder can pull templates from multiple
repositories.
</p>
