<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="style.css" type="text/css"/>
<script src="code.js" type="text/javascript"></script>

<h1>More information</h1>

<ul>
<li> Project page and sources: <br>
<a href="http://libguestfs.org/"><b><big>lib<small>&nbsp;</small>guest<small>&nbsp;</small>fs.org</big></b></a>
<li> <a href="http://libguestfs.org/virt-resize.1.html">http://libguestfs.org/virt-resize.1.html</a>
<li> <a href="http://libguestfs.org/virt-sparsify.1.html">http://libguestfs.org/virt-sparsify.1.html</a>
<li> <a href="http://libguestfs.org/virt-customize.1.html">http://libguestfs.org/virt-customize.1.html</a>
<li> <a href="http://libguestfs.org/virt-sysprep.1.html">http://libguestfs.org/virt-sysprep.1.html</a>
<li> <a href="http://libguestfs.org/virt-builder.1.html">http://libguestfs.org/virt-builder.1.html</a>
<li> Available in all major Linux distros:
Fedora&nbsp;&ge;&nbsp;11, RHEL&nbsp;&ge;&nbsp;6.0,
Debian, Ubuntu, SUSE, Arch, Gentoo, etc etc.
<li> Used widely by Red Hat customers
<li> Developers and testers at Red Hat: <br/>
Pino&nbsp;Toscano,
Shahar&nbsp;Havivi,
Arik&nbsp;Hadas,
Tingting&nbsp;Zheng,
Junqin&nbsp;Zhou,
Hu&nbsp;Zhang,
Wei&nbsp;Shi,
Lingfei&nbsp;Kong,
John&nbsp;Eckersberg.
</ul>
